<div id = "title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>
<article class = "about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu risus non quam sodales pellentesque. Sed porta ipsum ut auctor suscipit. Integer euismod quam id diam fringilla lobortis. Mauris eleifend vestibulum orci, eget vestibulum ex fermentum ac. Aenean eget orci nec est congue pretium. Nullam convallis, lectus sit amet condimentum fermentum, mauris mauris aliquam elit, blandit luctus lectus dolor at nibh. Ut in velit sed tortor dignissim accumsan at rhoncus arcu. Curabitur rhoncus sem diam, in porttitor ante pharetra et. Suspendisse suscipit diam pellentesque odio tincidunt, et ultricies lacus placerat. Cras rhoncus neque ut magna vulputate congue. Donec enim sapien, egestas at laoreet sit amet, pretium sit amet purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin tincidunt eros nisl, id fermentum dui consectetur ac.
    </p>
</article>